<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="logFilePath" value="c:\logs\error.txt"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="bindingConfiguration1" closeTimeout="00:01:00" />
				<binding name="bindingConfiguration2" closeTimeout="00:02:00" />

				<!-- Default binding for basicHttpBinding -->
				<binding closeTimeout="00:03:00" />
				
			</basicHttpBinding>
		</bindings>
		<services>
			
			<!-- Note: Keeping the endpoint address as empty, as it will use BaseAddress specified by the ServiceHost when you instantiate your service.
			Since each .svc service creates a ServiceHost, the BaseAddress for the services created in this project will be similar to '/services/service.svc'. --> 
			
			<service name="WCF.SampleService.Services.AuthService">
				<endpoint address=""
						binding="basicHttpBinding"
						bindingConfiguration="bindingConfiguration1"
						contract="WCF.SampleService.Contracts.IAuthService"  />
			</service>
			<service name="WCF.SampleService.Services.CalculatorService">
				<endpoint address=""
						binding="basicHttpBinding"
						bindingConfiguration="bindingConfiguration1"
						contract="WCF.SampleService.Contracts.ICalculatorService"  />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>

					<errorBehaviorElement/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior>
					<headerValidationBehaviorElement />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

		<!-- Register behavior extensions here -->
		<extensions>
			<behaviorExtensions>
				<add name="errorBehaviorElement" type="WCF.SampleService.Behaviors.ErrorBehavior.ErrorBehaviorExtensionElement, WCF.SampleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
				<add name="headerValidationBehaviorElement" type="WCF.SampleService.Behaviors.HeaderValidationBehavior.HeaderValidationBehaviorExtensionElement, WCF.SampleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</behaviorExtensions>
		</extensions>

	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
