<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 
	<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthService" />
                <binding name="BasicHttpBinding_ICalculatorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/Services/AuthService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService"
                contract="AuthServiceReference.IAuthService" name="BasicHttpBinding_IAuthService" />
            <endpoint address="http://localhost:9000/Services/CalculatorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculatorService"
                contract="CalculatorServiceReference.ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
        </client>

		<behaviors>
			<endpointBehaviors>
				<behavior>
					<addRequestHeaderExtensionElement />
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<!-- Register behavior extensions here -->
		<extensions>
			<behaviorExtensions>
				<add name="addRequestHeaderExtensionElement" type="WCF.SampleService.Client.ClientBehaviors.AddRequestHeaderExtensionElement, WCF.SampleService.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</behaviorExtensions>
		</extensions>
    </system.serviceModel>
</configuration>